#formPesquisa {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#formPesquisa > p {
    display: flex;
}

#formPesquisa > p > input > :first-child  {
    width: 50%;
    border: 1px solid #aaa;
    background-color: rgba(255,255,255, 1);
}

#formPesquisa > p > label {
    width: 85px;
}

input:not(#pesquisa) {
    right: 23px;
    background-color:#0d6efd;
    color: white;
    border-radius: 5%;
    padding: 4px 10px;
    cursor: pointer;
    text-align: center;
    margin-left: 5px;
}

#pesquisa {
    width: 30%;
}